<%- include('partials/header') %>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="bg-100">
    <div class="container">
      <div class="row align-items-stretch justify-content-center mb-4">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="card h-100">
            <div class="card-body px-5">
              <h5 class="mb-3">Dubai Office</h5>
              <div class="d-flex justify-content-between">
                <div>
                  <p class="mb-0 text-1100">
                    Post Box 49700,<br />Suite#703,<br />Block B,<br />
                  </p>
                </div>
                <div>
                  <p class="mb-0 text-1100">Business
                    Village,<br />Deira,<br />Dubai
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100">
                  <div class="card-body px-5">
                    <h5 class="mb-3">Sydney Office</h5>
                    <p class="mb-0 text-1100"> 62 Collins Street West,<br />Sydney 3000, <br />Australia</p>
                  </div>
                </div>
              </div> -->
        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="card h-100">
            <div class="card-body px-5">
              <h5>Socials</h5>
              <a class="d-inline-block mt-2" href="#!"
                ><span class="fab fa-linkedin fs-2 me-2 text-primary"></span></a
              ><a class="d-inline-block mt-2" href="#!"
                ><span
                  class="fab fa-twitter-square fs-2 mx-2 text-primary"
                ></span></a
              ><a class="d-inline-block mt-2" href="#!"
                ><span
                  class="fab fa-facebook-square fs-2 mx-2 text-primary"
                ></span></a
              ><a class="d-inline-block mt-2" href="#!"
                ><span
                  class="fab fa-google-plus-square fs-2 ms-2 text-primary"
                ></span
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body p-5 h-100">
          <!-- <div class="googlemap" data-gmap="data-gmap" data-latlng="48.8583701,2.2922873,17" data-scrollwheel="false" data-icon="assets/img/map-marker.png" data-zoom="17" data-theme="Tripitty">
                  <div class="marker-content py-3">
                    <h5>Eiffel Tower</h5>
                    <p class="mb-0">Gustave Eiffel's iconic, wrought-iron 1889 tower,<br /> with steps and elevators to observation decks.</p>
                  </div>
                </div> -->
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.394923834424!2d55.32423876116812!3d25.257297127579157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5d85643fe26b%3A0xd351e5598d7e8d0a!2sBlock%20B!5e0!3m2!1sen!2sin!4v1696346666642!5m2!1sen!2sin"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="card">
        <div class="card-body h-100 p-5">
          <h5 class="mb-3">Write to us</h5>
          <form>
            <div class="mb-4">
              <input
                class="form-control bg-white"
                type="text"
                placeholder="Your Name"
                required="required"
              />
            </div>
            <div class="mb-4">
              <input
                class="form-control bg-white"
                type="email"
                placeholder="Email"
                required="required"
              />
            </div>
            <div class="mb-4">
              <textarea
                class="form-control bg-white"
                rows="11"
                placeholder="Enter your descriptions here..."
                required="required"
              ></textarea>
            </div>
            <button class="btn btn-md-lg btn-primary" type="Submit">
              <span class="color-white fw-600">Send Now</span>
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
<%- include('partials/footer') %>
