<!-- Simple 404 Page using HTML & CSS -->

<!DOCTYPE html>
    <html lang="en-US" dir="ltr">
      <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <!-- ===============================================-->
        <!--    Document Title-->
        <!-- ===============================================-->
        <title>
          404 - Hadita Tech
        </title>
    
        <!-- ===============================================-->
        <!--    Favicons-->
        <!-- ===============================================-->
        <link
          rel="apple-touch-icon"
          sizes="180x180"
          href="/img/logo/favicon/apple-touch-icon.png"
        />
        <link
          rel="icon"
          type="image/png"
          sizes="32x32"
          href="/img/logo/favicon/favicon-32x32.png"
        />
        <link
          rel="icon"
          type="image/png"
          sizes="16x16"
          href="/img/logo/favicon/favicon-16x16.png"
        />
        <link
          rel="shortcut icon"
          type="image/x-icon"
          href="/img/logo/favicon/favicon.ico"
        />
        <link
          rel="manifest"
          href="/img/logo/favicon/site.webmanifest"
        />
        <script src="/vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>
    
        <!-- ===============================================-->
        <!--    Stylesheets-->
        <!-- ===============================================-->
        <link
          href="/vendors/swiper/swiper-bundle.min.css"
          rel="stylesheet"
        />
        <link
          href="/vendors/hamburgers/hamburgers.min.css"
          rel="stylesheet"
        />
        <link
          href="/vendors/loaders/loaders.css"
          rel="stylesheet"
        />
        <link
          href="/assets/css/theme.min.css"
          rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
        <link
          href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&amp;family=Open+Sans:wght@300;400;600;700;800&amp;display=swap"
          rel="stylesheet"
        />
    <!-- Just some important metas, you can ignore these -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main>
      <center>
        <br /><br /><br /><br /><br /><br />
  			<h1>404 - Page not found!</h1>
  			<p>Oops! Itseems like you're lost, let me help you find your way back home! :)<br />
                  The following problems could be the case:<br><br>
                  • The link is broken<br />
                  • This page never existed<br />
                  • This page has been removed<br /><br /><br /></p>
        <h3><a href="/">Click here to go back home</a></h3>
        <br /><br /><br /><br />
      </center>
    </main>
  </body>
</html>