<%- include('partials/header') %>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <section class="py-0" id="home_section">
    <div
      class="swiper theme-slider min-vh-100"
      data-swiper='{"loop":true,"allowTouchMove":false,"autoplay":{"delay":8000},"effect":"fade","speed":500}'
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide" data-zanim-timeline="{}">
          <div
            class="bg-holder"
            style="background-image: url(/assets/img/header-6.jpg)"
          ></div>
          <!--/.bg-holder-->
          <div class="container">
            <div
              class="row min-vh-100 py-8 align-items-center"
              data-inertia='{"weight":1.5}'
            >
              <div class="col-sm-8 col-lg-7 px-2 px-sm-3">
                <div class="overflow-hidden">
                  <h1 class="fs-4 fs-md-5 lh-1" data-zanim-xs='{"delay":0}'>
                    Supporting Modernization
                  </h1>
                </div>
                <div class="overflow-hidden">
                  <p
                    class="text-primary pt-4 mb-5 fs-1 fs-md-2 lh-xs"
                    data-zanim-xs='{"delay":0.1}'
                  >
                    Supporting and assisting you in embracing new technologies
                    and modernizing your business.
                  </p>
                </div>
                <div class="overflow-hidden">
                  <div data-zanim-xs='{"delay":0.2}'>
                    <a class="btn btn-primary me-3 mt-3" href="/#about_us"
                      >Read more<span
                        class="fas fa-chevron-right ms-2"
                      ></span></a
                    ><a class="btn btn-warning mt-3" href="/contact"
                      >Contact us<span class="fas fa-chevron-right ms-2"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-zanim-timeline="{}">
          <div
            class="bg-holder"
            style="background-image: url(/assets/img/header-5.jpg)"
          ></div>
          <!--/.bg-holder-->
          <div class="container">
            <div
              class="row min-vh-100 py-8 align-items-center"
              data-inertia='{"weight":1.5}'
            >
              <div class="col-sm-8 col-lg-7 px-2 px-sm-3">
                <div class="overflow-hidden">
                  <h1 class="fs-4 fs-md-5 lh-1" data-zanim-xs='{"delay":0}'>
                    Experienced Consultants
                  </h1>
                </div>
                <div class="overflow-hidden">
                  <p
                    class="text-primary pt-4 mb-5 fs-1 fs-md-2 lh-xs"
                    data-zanim-xs='{"delay":0.1}'
                  >
                    Our experienced consultants support you in discovering
                    holistic solutions.
                  </p>
                </div>

                <div class="overflow-hidden">
                  <div data-zanim-xs='{"delay":0.2}'>
                    <a class="btn btn-primary me-3 mt-3" href="/#about_us"
                      >Read more<span
                        class="fas fa-chevron-right ms-2"
                      ></span></a
                    ><a class="btn btn-warning mt-3" href="/contact"
                      >Contact us<span class="fas fa-chevron-right ms-2"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-zanim-timeline="{}">
          <div
            class="bg-holder"
            style="background-image: url(/assets/img/header-1.jpg)"
          ></div>
          <!--/.bg-holder-->
          <div class="container">
            <div
              class="row min-vh-100 py-8 align-items-center"
              data-inertia='{"weight":1.5}'
            >
              <div class="col-sm-8 col-lg-7 px-2 px-sm-3">
                <div class="overflow-hidden">
                  <h1 class="fs-4 fs-md-5 lh-1" data-zanim-xs='{"delay":0}'>
                    Empowering Long-Term Partnerships
                  </h1>
                </div>
                <div class="overflow-hidden">
                  <p
                    class="text-primary pt-4 mb-5 fs-1 fs-md-2 lh-xs"
                    data-zanim-xs='{"delay":0.1}'
                  >
                    Long term value from tailored solutions across cloud
                    services, infrastructure optimization, bussiness
                    applications and consulting.
                  </p>
                </div>
                <div class="overflow-hidden">
                  <div data-zanim-xs='{"delay":0.2}'>
                    <a class="btn btn-primary me-3 mt-3" href="/#about_us"
                      >Read more<span
                        class="fas fa-chevron-right ms-2"
                      ></span></a
                    ><a class="btn btn-warning mt-3" href="/contact"
                      >Contact us<span class="fas fa-chevron-right ms-2"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-nav">
        <div class="swiper-button-prev">
          <span class="fas fa-chevron-left"></span>
        </div>
        <div class="swiper-button-next">
          <span class="fas fa-chevron-right"></span>
        </div>
      </div>
    </div>
  </section>

  <!-- ============================read================-->
  <!-- <section> begin ============================-->
  <section class="bg-white text-center" id="services">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-10 col-md-6">
          <h3 class="fs-2 fs-lg-3">Welcome to Hadita</h3>
          <p class="px-lg-4 mt-3">
            Get a comprehensive suite of services from Hadita to empower your
            business for the future.
          </p>
          <hr
            class="short"
            data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
            data-zanim-trigger="scroll"
          />
        </div>
      </div>
      <div class="row mt-4 mt-md-5">
        <div
          class="col-lg-6 mt-4"
          data-zanim-timeline="{}"
          data-zanim-trigger="scroll"
        >
          <a href="/services/digital-enablement">
            <div class="ring-icon mx-auto" data-zanim-xs='{"delay":0}'>
              <span class="fa fa-fast-forward"></span>
            </div>
          </a>

          <a href="/services/digital-enablement">
            <h5 class="mt-4 service-title" data-zanim-xs='{"delay":0.1}'>
              Digital Enablement
            </h5>
          </a>

          <p class="mb-0 mt-3 px-3" data-zanim-xs='{"delay":0.2}'>
            Unlock the full potential of your business's digital presence with
            our comprehensive digital enablement services, tailored for both new
            and existing ventures.
          </p>
          <div class="overflow-hidden">
            <div data-zanim-xs='{"delay":0.2}'>
              <a
                class="d-flex justify-content-center align-items-center"
                href="/services/digital-enablement"
                >Read More
                <div class="overflow-hidden ms-2">
                  <span
                    class="d-inline-block"
                    data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'
                    >&xrarr;</span
                  >
                </div></a
              >
            </div>
          </div>
        </div>
        <div
          class="col-lg-6 mt-4"
          data-zanim-timeline="{}"
          data-zanim-trigger="scroll"
        >
          <a href="/services/infrastructure-services">
            <div class="ring-icon mx-auto" data-zanim-xs='{"delay":0}'>
              <span class="fas fa-network-wired"></span>
            </div>
          </a>
          <a href="/services/infrastructure-services">
            <h5 class="mt-4 service-title" data-zanim-xs='{"delay":0.1}'>
              Infrastructure and Cloud Services
            </h5>
          </a>
          <p class="mb-0 mt-3 px-3" data-zanim-xs='{"delay":0.2}'>
            From network design and setup to vigilant system monitoring and
            maintenance, we optimize performance for peak efficiency, facilitate
            smooth IT infrastructure migrations and transitions to cloud or SDDC
            environments, and conduct rigorous due diligence to assess
            infrastructure efficacy, availability, and security.
          </p>
          <div class="overflow-hidden">
            <div data-zanim-xs='{"delay":0.2}'>
              <a
                class="d-flex justify-content-center align-items-center"
                href="/services/infrastructure-services"
                >Read More
                <div class="overflow-hidden ms-2">
                  <span
                    class="d-inline-block"
                    data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'
                    >&xrarr;</span
                  >
                </div></a
              >
            </div>
          </div>
        </div>
        <div
          class="col-lg-6 mt-4"
          data-zanim-timeline="{}"
          data-zanim-trigger="scroll"
        >
          <a href="/services/it-consulting-services">
            <div class="ring-icon mx-auto" data-zanim-xs='{"delay":0}'>
              <span class="fas fa-headset"></span>
            </div>
          </a>

          <a href="/services/it-consulting-services">
            <h5 class="mt-4 service-title" data-zanim-xs='{"delay":0.1}'>
              IT Consulting Services
            </h5>
          </a>

          <p class="mb-0 mt-3 px-3" data-zanim-xs='{"delay":0.2}'>
            Develop innovative IT strategies tailored to your business
            objectives, emphasizing personalization and productivity to drive
            growth while offering recommendations for technology transformation
            and adopting open-source and cloud technologies.
          </p>
          <div class="overflow-hidden">
            <div data-zanim-xs='{"delay":0.2}'>
              <a
                class="d-flex justify-content-center align-items-center"
                href="/services/it-consulting-services"
                >Read More
                <div class="overflow-hidden ms-2">
                  <span
                    class="d-inline-block"
                    data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'
                    >&xrarr;</span
                  >
                </div></a
              >
            </div>
          </div>
        </div>
        <div
          class="col-lg-6 mt-4"
          data-zanim-timeline="{}"
          data-zanim-trigger="scroll"
        >
          <a href="/services/business-applications-devops">
            <div class="ring-icon mx-auto" data-zanim-xs='{"delay":0}'>
              <span class="far fa-chart-bar"></span>
            </div>
          </a>

          <a href="/services/business-applications-devops">
            <h5 class="mt-4 service-title" data-zanim-xs='{"delay":0.1}'>
              Business Applications and DevOps
            </h5>
          </a>

          <p class="mb-0 mt-3 px-3" data-zanim-xs='{"delay":0.2}'>
            Enhance your business processes and embrace Agile and DevOps
            practices. We offer crafting and integrating business applications
            and facilitating continuous development and agile approaches.
          </p>
          <div class="overflow-hidden">
            <div data-zanim-xs='{"delay":0.2}'>
              <a
                class="d-flex justify-content-center align-items-center"
                href="/services/business-applications-devops"
                >Read More
                <div class="overflow-hidden ms-2">
                  <span
                    class="d-inline-block"
                    data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'
                    >&xrarr;</span
                  >
                </div></a
              >
            </div>
          </div>
        </div>
        <div
          class="col-lg-6 mt-4"
          data-zanim-timeline="{}"
          data-zanim-trigger="scroll"
        >
          <a href="/services/artificial-intelligence">
            <div class="ring-icon mx-auto" data-zanim-xs='{"delay":0}'>
              <span class="fa fa-bolt"></span>
            </div>
          </a>

          <a href="/services/artificial-intelligence">
            <h5 class="mt-4 service-title" data-zanim-xs='{"delay":0.1}'>
              Artificial Intelligence
            </h5>
          </a>

          <p class="mb-0 mt-3 px-3" data-zanim-xs='{"delay":0.2}'>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam
            fugit sint repellendus quo sit enim! Amet ipsa velit saepe quisquam
            itaque. Facilis sed iusto commodi provident. Cupiditate delectus
            beatae iste
          </p>
          <div class="overflow-hidden">
            <div data-zanim-xs='{"delay":0.2}'>
              <a
                class="d-flex justify-content-center align-items-center"
                href="/services/artificial-intelligence"
                >Read More
                <div class="overflow-hidden ms-2">
                  <span
                    class="d-inline-block"
                    data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'
                    >&xrarr;</span
                  >
                </div></a
              >
            </div>
          </div>
        </div>
        <div
          class="col-lg-6 mt-4"
          data-zanim-timeline="{}"
          data-zanim-trigger="scroll"
        >
          <a href="/services/e-commerce-services">
            <div class="ring-icon mx-auto" data-zanim-xs='{"delay":0}'>
              <span class="fa fa-shopping-cart"></span>
            </div>
          </a>

          <a href="/services/e-commerce-services">
            <h5 class="mt-4 service-title" data-zanim-xs='{"delay":0.1}'>
              E-Commerce Services
            </h5>
          </a>

          <p class="mb-0 mt-3 px-3" data-zanim-xs='{"delay":0.2}'>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam
            fugit sint repellendus quo sit enim! Amet ipsa velit saepe quisquam
            itaque. Facilis sed iusto commodi provident. Cupiditate delectus
            beatae iste.
          </p>
          <div class="overflow-hidden">
            <div data-zanim-xs='{"delay":0.2}'>
              <a
                class="d-flex justify-content-center align-items-center"
                href="/services/e-commerce-services"
                >Read More
                <div class="overflow-hidden ms-2">
                  <span
                    class="d-inline-block"
                    data-zanim-xs='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'
                    >&xrarr;</span
                  >
                </div></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="bg-100">
    <div class="container">
      <div class="row">
        <div class="row col-lg-8">
          <div
            class="col-lg-12 px-4 px-sm-3 mb-4 mt-3"
            data-zanim-timeline="{}"
            data-zanim-trigger="scroll"
          >
            <h5 data-zanim-xs='{"delay":0}'>
              <span class="text-primary fs-0 me-3 fas fa-lock"></span>FREE
              Infrastructure and Security Assessment
            </h5>
            <p class="mt-3 pe-3 pe-lg-5 mb-0" data-zanim-xs='{"delay":0.1}'>
              Implement industry / performance best practices, compliance bench
              marking, availability / resilient benchmarking
            </p>
          </div>
          <div
            class="col-lg-12 px-4 px-sm-3 mb-4"
            data-zanim-timeline="{}"
            data-zanim-trigger="scroll"
          >
            <h5 data-zanim-xs='{"delay":0}'>
              <span class="text-primary fs-0 me-3 fas fa-globe"></span>Digital
              Enablement - Elevate Your Business Online
            </h5>
            <p class="mt-3 pe-3 pe-lg-5 mb-0" data-zanim-xs='{"delay":0.1}'>
              Unlock the full potential of your business's digital presence with
              our comprehensive digital enablement services, tailored for both
              new and existing ventures. We provide end-to-end solutions, from
              building a brand identity to designing your website, setting up
              email systems, boosting with SEO, and executing targeted digital
              marketing strategies. Let us be your partner in creating a strong
              and engaging online presence.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div
            class="border border-2 border-warning p-4 py-lg-5 text-center rounded-3"
            data-zanim-timeline="{}"
            data-zanim-trigger="scroll"
          >
            <div class="overflow-hidden">
              <h4 data-zanim-xs='{"delay":0}'>Excited to speak to us!</h4>
              <h5 data-zanim-xs='{"delay":0}' class="text-info">
                Book an Appointment with One of Our Consutlant
              </h5>
            </div>
            <div class="overflow-hidden">
              <p class="px-lg-1 mb-0" data-zanim-xs='{"delay":0.1}'>
                Book appointment with one of our consultants to start
                assessment. Book a session &nbsp;<a href="/contact"
                  >Connect <span class="fas fa-external-link-alt ms-1"></span
                ></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section id="about_us">
    <div class="container">
      <div class="text-center mb-3">
        <h3 class="fs-2 fs-md-3">Why Choose Hadita</h3>
        <hr
          class="short"
          data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
          data-zanim-trigger="scroll"
        />
      </div>
      <div class="mb-4">
        <p>
          We are your dedicated partner in digital transformation. With years of
          hands-on experience, we provide an array of cloud and infrastructure
          services, tailored strategies, and a commitment to innovation and
          agility. Our focus is on crafting personalized growth plans,
          developing agile business applications, and pioneering modern
          technology adoption. When you choose us, you gain a partner with the
          expertise to navigate the intricacies of the digital landscape,
          ensuring unparalleled efficiency, innovation, and security to propel
          your success.
        </p>
      </div>
      <div class="row">
        <div
          class="col-lg-6 pe-lg-3 d-flex justify-content-center align-items-center"
        >
          <img
            class="rounded-3 img-fluid"
            src="/assets/img/about_us_img.webp"
            alt="about"
            loading="lazy"
          />
        </div>
        <div
          class="col-lg-6 px-lg-5 mt-6 mt-lg-0"
          data-zanim-timeline="{}"
          data-zanim-trigger="scroll"
        >
          <div class="overflow-hidden">
            <div class="px-4 px-sm-0" data-zanim-xs='{"delay":0}'>
              <h5 class="fs-0 fs-lg-1">
                <span
                  class="fas fa-comment-dots fs-1 me-2"
                  data-fa-transform="flip-h"
                ></span
                >Expertise
              </h5>
              <p class="mt-3">
                With years of hands-on experience, we provide a comprehensive
                suite of cloud and infrastructure services. What sets us apart
                is our ability to tailor innovative strategies, develop business
                applications, and drive digital transformation while maintaining
                the highest security standards. When you choose us, you gain a
                trusted partner with the expertise to navigate the intricacies
                of the digital landscape, ensuring unparalleled efficiency and
                innovation to propel your success.
              </p>
            </div>
          </div>
          <div class="overflow-hidden">
            <div class="px-4 px-sm-0 mt-5" data-zanim-xs='{"delay":0}'>
              <h5 class="fs-0 fs-lg-1">
                <span
                  class="fas fa-palette fs-1 me-2"
                  data-fa-transform="shrink-1"
                ></span
                >Tailored Strategies
              </h5>
              <p class="mt-3">
                We understand that every business is unique, and we pride
                ourselves on crafting personalized growth plans that align
                precisely with your objectives. Our expert team collaborates
                closely with you to design a roadmap that optimizes technology,
                enhances productivity, and ensures your long-term success. With
                us, you receive strategies as unique as your business.
              </p>
            </div>
          </div>
          <div class="overflow-hidden">
            <div class="px-4 px-sm-0 mt-5" data-zanim-xs='{"delay":0}'>
              <h5 class="fs-0 fs-lg-1">
                <span
                  class="fas fa-stopwatch fs-1 me-2"
                  data-fa-transform="grow-1"
                ></span
                >Innovation and Agility
              </h5>
              <p class="mt-3">
                In the fast-paced digital landscape, innovation and agility are
                at the core of our services at Hadita. We specialize in crafting
                business applications that streamline operations and remain
                agile in response to changing business needs. Our continuous
                development strategies keep your technology stack current and
                secure, while agile practices ensure your organization's
                responsiveness to market shifts and evolving customer demands.
                As pioneers in modern technology adoption, we help you harness
                the full potential of emerging technologies, drive digital
                transformation, and empower your workforce for success in a
                constantly evolving digital world.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="bg-primary">
    <div class="container">
      <div class="row align-items-center text-white">
        <div class="col-lg-4">
          <div
            class="border border-2 border-warning p-4 py-lg-5 text-center rounded-3"
            data-zanim-timeline="{}"
            data-zanim-trigger="scroll"
          >
            <div class="overflow-hidden">
              <h4 class="text-white" data-zanim-xs='{"delay":0}'>
                Request a call back
              </h4>
            </div>
            <div class="overflow-hidden">
              <p class="px-lg-1 text-100 mb-0" data-zanim-xs='{"delay":0.1}'>
                Would you like to speak to one of our consultants, please submit
                your details and we will be in touch with you shortly. You can
                also email us if you would prefer.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-8 ps-lg-5 mt-6 mt-lg-0">
          <h5 class="text-white">I would like to discuss:</h5>
          <form class="mt-4" method="post">
            <div class="row">
              <div class="col-6">
                <input
                  class="form-control"
                  type="hidden"
                  name="to"
                  value="username@domain.extension"
                /><input
                  class="form-control"
                  type="text"
                  placeholder="Your Name"
                  aria-label="Your Name"
                />
              </div>
              <div class="col-6">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Phone Number"
                  aria-label="Phone Number"
                />
              </div>
              <div class="col-6 mt-4">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Subject"
                  aria-label="Subject"
                />
              </div>
              <div class="col-6 mt-4">
                <button class="btn btn-warning w-100" type="submit">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
<%- include('partials/footer') %>
