<%- include('partials/header') %>

<!-- ============================================-->
<!-- <section> begin ============================-->
<section>
  <div
    class="bg-holder overlay"
    style="
      background-image: url(../assets/img/background-2.jpg);
      background-position: center bottom;
    "
  ></div>
  <!--/.bg-holder-->
  <div class="container">
    <div class="row pt-6" data-inertia='{"weight":1.5}'>
      <div
        class="col-md-8 text-white"
        data-zanim-timeline="{}"
        data-zanim-trigger="scroll"
      >
        <div class="overflow-hidden">
          <h1
            class="text-white fs-4 fs-md-5 mb-0 lh-1"
            data-zanim-xs='{"delay":0}'
          >
            Terms of Use
          </h1>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="bg-100">
    <div class="container">
      <div class="row mt-6">
        <div class="col">
          <h3 class="text-center fs-2 fs-md-3">Hadita Terms of Use</h3>
          <hr
            class="short"
            data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
            data-zanim-trigger="scroll"
          />
        </div>
        <div class="col-12">
          <div class="bg-white px-3 mt-6 px-0 py-5 px-lg-5 rounded-3">
            <p class="column-lg-2 dropcap">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
              perferendis nobis possimus sequi, praesentium mollitia? Totam
              eaque facilis accusantium numquam molestiae aspernatur quo
              reprehenderit non excepturi quia. Possimus sint voluptas, beatae
              iste illum dolor alias blanditiis laudantium eaque at mollitia rem
              doloribus corrupti, repellendus illo aut ipsa sed, fugiat eos
              rerum velit. Quasi officiis reiciendis ipsam quos incidunt rem
              molestiae tenetur adipisci recusandae minima praesentium fugiat
              autem sint velit obcaecati, eligendi temporibus alias corporis!
              Odio fuga numquam placeat reiciendis eum a deleniti pariatur?
              Enim, debitis ea explicabo nemo dicta voluptatem corrupti fugit
              consequatur, esse expedita optio molestias reiciendis et voluptate
              doloremque. Voluptates iure exercitationem omnis ipsum quibusdam,
              rem enim maxime. Sit debitis consectetur, obcaecati perferendis
              mollitia id dolor nihil asperiores amet praesentium perspiciatis
              a! Rerum dolor qui, eos exercitationem distinctio molestias iusto
              quae! Itaque excepturi ducimus laboriosam veritatis iusto commodi.
              Repellat autem aut commodi doloremque distinctio vel vero
              consequatur facilis quaerat voluptate! Earum quasi sed, nesciunt
              unde excepturi debitis dolores corporis illum, itaque voluptatem
              velit ea harum commodi voluptas dolor iure quisquam, nostrum
              repellendus? Laudantium consequatur odio obcaecati! Quas ducimus,
              nemo obcaecati at, magnam fugiat et vel voluptatem explicabo
              voluptates vero autem impedit temporibus illo sit iusto veniam
              facere ipsam exercitationem eveniet maxime adipisci libero? Quas
              nisi incidunt ex nobis provident, perspiciatis neque enim, sed
              totam quod cumque. Ipsa, sapiente explicabo ex ipsum unde suscipit
              amet ad obcaecati illum quibusdam, labore quod perspiciatis
              voluptates. Labore, aliquam nihil. Doloribus consequuntur commodi
              saepe, vitae sed deleniti hic dolor ex perspiciatis incidunt rem
              quam non tempora voluptatibus accusantium neque accusamus
              molestiae eaque similique quisquam ratione voluptates quia esse
              odit. Vero sint, voluptate enim et fugit, laborum cumque at
              debitis, tempora dolore tempore in nobis? Quis corporis, at
              doloremque eius unde tempore eum sint atque harum dolore veritatis
              ipsam cumque amet suscipit commodi cupiditate animi culpa
              repudiandae explicabo sequi accusamus sunt omnis quo iure!
              Officiis dolorum consequuntur commodi labore vero, laboriosam
              voluptatem odio distinctio excepturi provident cumque porro, iste
              cupiditate, fugiat error mollitia quasi. Sit nihil repellat amet,
              corrupti, molestias, voluptatum omnis similique maiores saepe
              repellendus perspiciatis tenetur incidunt! Eligendi est nemo
              veniam vitae deserunt nesciunt cum unde incidunt commodi obcaecati
              quisquam esse tenetur amet facere repellendus praesentium
              laboriosam voluptatem iusto, magni eaque adipisci tempora ipsam.
              Quod cupiditate exercitationem possimus atque officiis? Explicabo
              iste amet sapiente esse quidem sit, neque ipsam, vitae quia sed
              impedit quasi laboriosam molestiae eveniet eligendi nostrum. Nulla
              omnis ut veniam doloribus exercitationem, sequi vel nisi deleniti
              eum, at vero. Quod minima dolor deserunt? Soluta quos accusamus
              aperiam id molestiae ipsa, magnam corporis quia cum totam deleniti
              quam fugiat odio blanditiis libero itaque eligendi labore tempore!
              Dignissimos, quas iste fuga assumenda nam nihil laborum veritatis
              consequuntur magni repudiandae molestias distinctio ipsum.
              Praesentium atque enim iste dolorem a, amet voluptas magnam,
              delectus laudantium beatae debitis ad sint totam laborum, rem
              deserunt quia adipisci perspiciatis rerum explicabo officia
              reprehenderit voluptate. Reiciendis odio impedit sunt, distinctio
              atque magnam omnis nesciunt neque vitae deleniti quo ipsam minima
              enim labore at voluptate in culpa! Ad.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section>
    <div
      class="bg-holder overlay overlay-elixir"
      style="background-image: url(../assets/img/background-15.jpg)"
    ></div>
    <!--/.bg-holder-->
    <div class="container">
      <div class="d-flex">
        <span class="me-3">
          <img
            src="../assets/img/checkmark.png"
            alt="checkmark"
            style="width: 55px"
        /></span>
        <div class="flex-1">
          <h2 class="text-warning fs-3 fs-lg-4">
            Take the right step,<br /><span class="text-white"
              >do the big things.</span
            >
          </h2>
          <div class="row mt-4 pe-lg-10">
            <div
              class="overflow-hidden col-md-3"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div
                class="fs-3 fs-lg-4 mb-0 fw-bold text-white mt-lg-5 mt-3 lh-xs"
                data-zanim-xs='{"delay":0.1}'
                data-countup='{"endValue":52}'
              >
                52
              </div>
              <h6 class="fs-0 text-white" data-zanim-xs='{"delay":0.2}'>
                Cases Solved
              </h6>
            </div>
            <div
              class="overflow-hidden col col-lg-3"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div
                class="fs-3 fs-lg-4 mb-0 fw-bold text-white mt-lg-5 mt-3 lh-xs"
                data-zanim-xs='{"delay":0.1}'
                data-countup='{"endValue":164}'
              >
                164
              </div>
              <h6 class="fs-0 text-white" data-zanim-xs='{"delay":0.2}'>
                Trained Experts
              </h6>
            </div>
            <div class="w-100 d-flex d-lg-none"></div>
            <div
              class="overflow-hidden col-md-3"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div
                class="fs-3 fs-lg-4 mb-0 fw-bold text-white mt-lg-5 mt-3 lh-xs"
                data-zanim-xs='{"delay":0.1}'
                data-countup='{"endValue":38}'
              >
                38
              </div>
              <h6 class="fs-0 text-white" data-zanim-xs='{"delay":0.2}'>
                Branches
              </h6>
            </div>
            <div
              class="overflow-hidden col col-lg-3"
              data-zanim-timeline="{}"
              data-zanim-trigger="scroll"
            >
              <div
                class="fs-3 fs-lg-4 mb-0 fw-bold text-white mt-lg-5 mt-3 lh-xs"
                data-zanim-xs='{"delay":0.1}'
                data-countup='{"endValue":100}'
              >
                100
              </div>
              <h6 class="fs-0 text-white" data-zanim-xs='{"delay":0.2}'>
                Satisfied Clients
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<%- include('partials/footer') %>
