<%- include('partials/header') %>

<!-- ============================================-->
<!-- <section> begin ============================-->
<section>
  <div
    class="bg-holder overlay"
    style="
      background-image: url(../assets/img/background-2.jpg);
      background-position: center bottom;
    "
  ></div>
  <!--/.bg-holder-->
  <div class="container">
    <div class="row pt-6" data-inertia='{"weight":1.5}'>
      <div
        class="col-md-8 text-white"
        data-zanim-timeline="{}"
        data-zanim-trigger="scroll"
      >
        <div class="overflow-hidden">
          <h1
            class="text-white fs-4 fs-md-5 mb-0 lh-1"
            data-zanim-xs='{"delay":0}'
          >
            Terms of Use
          </h1>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="bg-100">
    <div class="container">
      <div class="row mt-6">
        <div class="col">
          <h3 class="text-center fs-2 fs-md-3">Hadita Terms of Use</h3>
          <hr
            class="short"
            data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
            data-zanim-trigger="scroll"
          />
        </div>
        <div class="col-12">
          <div class="bg-white px-3 mt-6 px-0 py-5 px-lg-5 rounded-3">
            <p class="">
              These Terms of Use ("Agreement") govern your use of this website.
              Please read this Agreement carefully before accessing or using our
              website www.haditatech.com. By accessing or using the Website, you
              agree to be bound by this Agreement. If you do not agree with any
              part of this Agreement, you must not access or use the Website.
            </p>
            <h5>Intellectual Property Rights</h5>
            <ol>
              <li>
                <p>
                  All content on the Website, including but not limited to text,
                  graphics, logos, images, audio clips, video clips, and
                  software, is the property of Hadita Technologies LLC. or its
                  licensors and is protected by applicable copyright, trademark,
                  and other intellectual property laws.
                </p>
              </li>
              <li>
                <p>
                  You may not reproduce, modify, distribute, or republish any
                  content from the Website without prior written consent from
                  Hadita Technologies LLC.
                </p>
              </li>
            </ol>
            <h5>User Conduct</h5>
            <ol>
              <li>
                <p>
                  You agree to use the Website only for lawful purposes and in
                  accordance with this Agreement.
                </p>
              </li>
              <li>
                <p>You must not engage in any activity that may:</p>
                <ol type="i">
                  <li>Violate any applicable laws or regulations</li>
                  <li>Infringe upon the rights of others</li>
                  <li>
                    Interfere with or disrupt the operation of the Website
                  </li>
                  <li>
                    Transmit any harmful or malicious code, viruses, or other
                    destructive elements
                  </li>
                </ol>
              </li>
            </ol>
            <h5>Privacy and Data Protection</h5>
            <ol>
              <li>
                <p>
                  Our Privacy Policy governs the collection, use, and disclosure
                  of personal information provided by you. By using the Website,
                  you consent to the collection and use of your personal
                  information in accordance with our Privacy Policy.
                </p>
              </li>
            </ol>
            <!-- -------------------- -->
            <h5>Links to Third-Party Websites</h5>
            <ol>
              <li>
                <p>
                  The Website may contain links to third-party websites for your
                  convenience. These links are provided solely as a convenience
                  to you and do not imply endorsement or control over the
                  content of those websites.
                </p>
              </li>
              <li>
                <p>
                  We are not responsible for the content or practices of any
                  third-party websites. Accessing third-party websites is at
                  your own risk, and you should review the terms and privacy
                  policies of those websites.
                </p>
              </li>
            </ol>
            <!-- -------------------- -->
            <h5>Limitation of Liability</h5>
            <ol>
              <li>
                <p>
                  To the fullest extent permitted by law, Hadita Technologies
                  LLC. and its affiliates, directors, officers, employees,
                  agents, and representatives shall not be liable for any
                  direct, indirect, incidental, consequential, or punitive
                  damages arising out of or in connection with your use of the
                  Website.
                </p>
              </li>
              <li>
                <p>
                  Hadita Technologies LLC. does not warrant the accuracy,
                  completeness, or reliability of any content on the Website.
                </p>
              </li>
            </ol>
            <!-- -------------------- -->
            <h5>Governing Law and Jurisdiction</h5>
            <ol>
              <li>
                <p>
                  This Agreement shall be governed by and construed in
                  accordance with the laws of the United Arab Emirates.
                </p>
              </li>
              <li>
                <p>
                  Any disputes arising out of or in connection with this
                  Agreement shall be subject to the exclusive jurisdiction of
                  the courts of the United Arab Emirates.
                </p>
              </li>
            </ol>
            <!-- -------------------- -->
            <h5>Modifications to Agreement</h5>
            <ol>
              <li>
                <p>
                  Hadita Technologies LLC. reserves the right to modify this
                  Agreement at any time without prior notice. Any modifications
                  become effective immediately upon posting on the Website.
                </p>
              </li>
              <li>
                <p>
                  Your continued use of the Website after any modifications
                  constitutes your acceptance of the modified Agreement.
                </p>
              </li>
            </ol>
            <!-- -------------------- -->
            <h5>Severability</h5>
            <p>
              If any provision of this Agreement is found to be invalid or
              unenforceable, the remaining provisions shall remain in full force
              and effect.
            </p>
            <p>
              By accessing or using the Website, you acknowledge that you have
              read, understood, and agree to be bound by this Agreement. If you
              do not agree to this Agreement, you must not access or use the
              Website.
            </p>
            <p>
                For any questions or concerns regarding this Agreement, please contact us at <a href="/contact">click here</a>
            </p>
            <p class="text-right">
                Last Updated : 1st October 2023
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<%- include('partials/footer') %>
