    <!--===============================================-->
    <!--    Footer-->
    <!--===============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
        <section style="background-color: #3d4c6f">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="bg-primary text-white p-5 p-lg-6 rounded-3">
                    <h4 class="text-white fs-1 fs-lg-2 mb-1">
                      Sign up for email alerts
                    </h4>
                    <p class="text-white">Stay current with our latest insights</p>
                    <form class="mt-4">
                      <div class="row align-items-center">
                        <div class="col-md-7 pe-md-0">
                          <div class="input-group">
                            <input
                              class="form-control"
                              type="email"
                              placeholder="Enter Email Here"
                            />
                          </div>
                        </div>
                        <div class="col-md-5 mt-3 mt-md-0">
                          <div class="d-grid">
                            <button class="btn btn-warning" type="submit">
                              <span class="text-primary fw-semi-bold">Submit</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0">
                  <div class="row">
                    <div class="col-6 col-lg-4 text-white ms-lg-auto d-flex align-items-center">
                      <ul class="list-unstyled">
                        <li class="mb-3">
                          <a
                            class="text-white"
                            href="/contact"
                            >Contact Us</a
                          >
                        </li>
                        <li class="mb-3">
                          <a class="text-white" href="/privacy-policy">Privacy Policy</a>
                        </li>
                        <li class="mb-3">
                          <a class="text-white" href="/terms">Terms of Use</a>
                        </li>
                        <li class="mb-3">
                          <a class="text-white" href="/contact">Local Office</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-6 col-sm-5 ms-sm-auto">
                      <ul class="list-unstyled">
                        <li class="mb-3">
                          <a
                            class="text-decoration-none d-flex align-items-center"
                            href="https://www.linkedin.com/company/hadita/"
                          >
                            <span class="brand-icon me-3"
                              ><span class="fab fa-linkedin-in"></span
                            ></span>
                            <h5 class="fs-0 text-white mb-0 d-inline-block">
                              Linkedin
                            </h5>
                          </a>
                        </li>
                        <li class="mb-3">
                          <a
                            class="text-decoration-none d-flex align-items-center"
                            href="index.html#!"
                          >
                            <span class="brand-icon text-white me-3"
                              ><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="#fff" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg></span>
                            <h5 class="fs-0 text-white mb-0 d-inline-block">
                              Twitter
                            </h5>
                          </a>
                        </li>
                        <li class="mb-3">
                          <a
                            class="text-decoration-none d-flex align-items-center"
                            href="https://www.facebook.com/haditatech?mibextid=LQQJ4d" target="_blank"
                          >
                            <span class="brand-icon me-3"
                              ><span class="fab fa-facebook-f"></span
                            ></span>
                            <h5 class="fs-0 text-white mb-0 d-inline-block">
                              Facebook
                            </h5>
                          </a>
                        </li>
                        <li class="mb-3">
                          <a
                            class="text-decoration-none d-flex align-items-center"
                            href="https://www.instagram.com/haditatech?igsh=eGZzZGhxZ2Zra3ll&utm_source=qr"
                          >
                            <span class="brand-icon me-3"
                              ><span class="fab fa-instagram"></span
                            ></span>
                            <h5 class="fs-0 text-white mb-0 d-inline-block">
                              Instagram
                            </h5>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of .container-->
          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->
      
          <footer class="footer bg-primary text-center py-4">
            <div class="container">
              <div class="row align-items-center opacity-85 text-white">
                <div class="col-sm-3 text-sm-start">
                  <!-- <a href="#"
                    ><img
                      src="/img/logo/logo.png"
                      width="100"
                      alt="logo"
                  /></a> -->
                </div>
                <div class="col-sm-6 mt-3 mt-sm-0">
                  <p class="lh-lg mb-0 fw-semi-bold">
                    &copy; Copyright 2023 Hadita Tech 
                  </p>
                </div>
              </div>
            </div>
          </footer>

          <!-- chat bot -->

          <!--Start of Tawk.to Script-->
          <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/651a657ae6bed319d004d6b9/1hbnhoq0b';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
          </script>
          <!--End of Tawk.to Script-->
      
          <!-- ===============================================-->
          <!--    JavaScripts-->
          <!-- ===============================================-->
          <script src="/vendors/popper/popper.min.js"></script>
          <script src="/vendors/bootstrap/bootstrap.min.js"></script>
          <script src="/vendors/is/is.min.js"></script>
          <script src="/vendors/bigpicture/BigPicture.js"></script>
          <script src="/vendors/countup/countUp.umd.js"></script>
          <script src="/vendors/swiper/swiper-bundle.min.js"></script>
          <script src="https://prium.github.io/elixir/v3.0.0/vendors/fontawesome/all.min.js"></script>
          <script src="/vendors/lodash/lodash.min.js"></script>
          <script src="/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
          <script src="/vendors/gsap/gsap.js"></script>
          <script src="/vendors/gsap/customEase.js"></script>
          <script src="/assets/js/theme.js"></script>
        </body>
      </html>
      